body {
background-color: #ccd9ff;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
font-family:"American Typewriter";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


#bighomecookie img{ 
 width: 600px;
 display: block;
 padding: 0px 300px 0px 0px;
}

#list {
 width: 25%;
 float; left
}

#picstep1 img {
 width: 20%;
 float: left;
}

#picstep2 img {
 width: 20%;
 float: left;
}

#picstep3 img {
 width: 20%;
 float: left;
}

#picstep4 img {
 width: 20%;
 float: left;
}

#picstep5 img {
 width: 20%;
 float: left;
}

#picstep6 img {
 width: 20%;
 float: left;
}

#picstep7 img {
 width: 20%;
 float: left;
}

#picstep8 img {
 width: 20%;
 float: left;
}

#picstep9 img {
 width: 20%;
 float: left;
}

#picstep10 img {
 width: 20%;
 float: left;
}

#picspic1 img {
 width: 50%;
}

